<div class="row mt-3">
  <div class="col-4">
    <button class="btn btn-primary"  [routerLink]="['/meters','new']" >Add New Meter</button>
  </div>

  <div class="col-4">
    <div class="btn-group">
      <button type="button" class="btn" [ngClass]="{'btn-outline-primary': isGroup, 'btn-primary':!isGroup}"  (click)="group(false)" >Show All</button>
      <button type="button" class="btn" [ngClass]="{'btn-outline-primary': !isGroup, 'btn-primary':isGroup}" (click)="group(true)">Group By Serial Number</button>
    </div>
  </div>
</div>
<div class="row mt-3">
<div class="col">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Serial Number</th>
        <th scope="col">Last Reading Time</th>
        <th scope="col">End Index</th>
        <th scope="col">Voltage</th>
        <th scope="col">Current</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of displayMeters" >
        <td (click)="goToDetails(item.id)">{{item.id}}</td>
        <td (click)="goToDetails(item.id)">{{item.serialNumber}}</td>
        <td (click)="goToDetails(item.id)">{{item.endIndex}}</td>
        <td (click)="goToDetails(item.id)">{{item.readingTime}}</td>
        <td (click)="goToDetails(item.id)">{{item.voltage}}</td>
        <td (click)="goToDetails(item.id)">{{item.current}}</td>
        <td>
          <button class="btn btn-primary" (click)="reportRequest(item.serialNumber)" >Request report</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

</div>
